$red : rgb(230, 61, 61);
$blue : rgb(71, 163, 218);
$gray : rgb(50, 50, 50);
//darken( $blue, 10% )

$color1 : $gray;
$color2 : $red;
$color3 : $blue;

$colorText1 : rgb(250,250,250);

.red {
	color : $red;
}