

/**
 *   Les questions dans le partial _question.js
 */

.allQuestionsWrapper {
  margin-top: 30px;
  font-size: 16px;
}
.questionWrapper {
  margin-bottom: 20px;
  background-color: #F8F8F8;
  border: 1px solid #DDD;
  border-radius: 10px;
  padding:10px 10px 5px 10px;
}
.answered {
  background-color: #DCF7D7;
  border: 1px solid #9CDE90;

  input {
    /* background-color: #DCF2E3; */
  }
}
.questionActions {
  padding-top:10px;
  padding-bottom: 35px;
}
.nbSlide {
  line-height: 35px;
  color: #47a4ed;
}
.link:hover {
  .btn-public {
    color: white;
  }
}
.question_hour {
  font-style: italic;
  color: #888;
  padding-left:10px;
}
